@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  width: 100%;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 21px;
}

.main-bg {
  background-image: url("../public/Images/main-bg.jpg");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
}

.main-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.349);
  pointer-events: none;
}

.about-bg {
  background-image: url("../public/Images/about-bg.png");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
}

.about-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top,
      rgba(0, 0, 0, 0.699) 0%,
      rgba(0, 0, 0, 0.267) 30%,
      rgba(0, 0, 0, 0.63) 70%,
      rgba(0, 0, 0, 0.801) 100%);
  pointer-events: none;
}

.topup-bg {
  background-image: url("../public/Images/top-up-bg.jpg");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
}

.topup-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top,
      rgba(0, 0, 0, 0.699) 0%,
      rgba(0, 0, 0, 0.267) 30%,
      rgba(0, 0, 0, 0.63) 70%,
      rgba(0, 0, 0, 0.801) 100%);
  pointer-events: none;
}

.willLearn-bg {
  background-image: url("../public/Images/how-will-you-learn-bg.jpg");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
}

.willLearn-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top,
      rgba(0, 0, 0, 0.699) 0%,
      rgba(0, 0, 0, 0.267) 30%,
      rgba(0, 0, 0, 0.63) 85%,
      rgba(0, 0, 0, 0.801) 100%);
  pointer-events: none;
}

.ourHubs-bg {
  background-image: url("../public/Images/our-hubs-bg.jpg");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
}

.ourHubs-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top,
      rgba(0, 0, 0, 0.699) 0%,
      rgba(0, 0, 0, 0.267) 30%,
      rgba(0, 0, 0, 0.582) 85%,
      rgba(0, 0, 0, 0.562) 100%);
  pointer-events: none;
}

.blog-bg {
  background-image: url("../public/Images/blog-bg.jpg");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
}

.blog-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top,
      rgba(0, 0, 0, 0.473) 0%,
      rgba(0, 0, 0, 0) 30%,
      rgba(0, 0, 0, 0.329) 85%,
      rgba(0, 0, 0, 0.192) 100%);
  pointer-events: none;
}

.testimonial-bg {
  background-image: url("../public/Images/testimonial-bg.jpg");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
}

.testimonial-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top,
      rgba(0, 0, 0, 0.274) 0%,
      rgba(0, 0, 0, 0.185) 30%,
      rgba(0, 0, 0, 0.411) 85%,
      rgba(0, 0, 0, 0.651) 100%);
  pointer-events: none;
}

.try-for-free {
  background-image: url("../public/Images/try_for_free.png");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
}

.try-for-free::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top,
      rgba(0, 0, 0, 0.664) 0%,
      rgba(0, 0, 0, 0.493) 30%,
      rgba(0, 0, 0, 0.329) 85%,
      rgba(0, 0, 0, 0.329) 100%);
  pointer-events: none;
}
.whats-new-bg {
  background-image: url("../public/Images/whats_new.jpg");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
}

.whats-new-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.281);
  pointer-events: none;
}

.content {
  position: relative;
  color: white;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.btn {
  font-size: 17px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}